@font-face {
  src: url(fonts/GothamBook.ttf);
  font-family: Gotham;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/GothamBookm.woff2) format("woff2"),
    url(fonts/GothamBook.woff) format("woff"),
    url(fonts/GothamBold.ttf) format("truetype");
}

* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f44336;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: colors 30s infinite linear;
}
@keyframes colors {
  0% {
    background-color: #f44336;
  }
  6% {
    background-color: #ff5722;
  }
  12% {
    background-color: #ff9800;
  }
  18% {
    background-color: #ffc107;
  }
  24% {
    background-color: #ffeb3b;
  }
  30% {
    background-color: #cddc39;
  }
  36% {
    background-color: #8bc34a;
  }
  42% {
    background-color: #4caf50;
  }
  48% {
    background-color: #009688;
  }
  54% {
    background-color: #00bcd4;
  }
  60% {
    background-color: #03a9f4;
  }
  66% {
    background-color: #2196f3;
  }
  72% {
    background-color: #3f51b5;
  }
  78% {
    background-color: #673ab7;
  }
  84% {
    background-color: #9c27b0;
  }
  90% {
    background-color: #e91e63;
  }
  100% {
    background-color: #f44336;
  }
}
h1,
h2,
a {
  color: white;
  font-weight: 100;
}
h1 {
  font-size: 100px;
}

.link {
  color: #e1306c;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
