@font-face {
  src: url(fonts/GothamBook.ttf);
  font-family: Gotham;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/GothamBookm.woff2) format("woff2"),
    url(fonts/GothamBook.woff) format("woff"),
    url(fonts/GothamBold.ttf) format("truetype");
}

body {
  font-family: "Gotham", Helvetica, sans-serif, sans-serif;
  background-color: #34373a;
  color: #fff;
  font-weight: 600;
  text-align: left;
  max-width: 7in;
}

#headshot {
  width: 175px;
  border-radius: 100%;
}

h1 {
  font-size: 50px;
}

.link {
  color: #e1306c;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.fab,
.far {
  font-size: 25px;
  margin: 0 10px 0 0;
  color: #34373a;
  text-decoration: none;
  padding: 9px;
  border-radius: 100%;
  background: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
}

.fab:hover,
.far:hover {
  transition: 0.5s;
  color: #fff;
}

.fa-envelope {
  background-color: #fff;
  color: #444;
}

.fa-envelope:hover {
  background-color: #d44638;
}

.fa-instagram:hover {
  background-color: #e1306c;
}

.fa-twitter:hover {
  background-color: #1da1f2;
}

.fa-github:hover {
  background-color: #28a745;
}

.fa-strava:hover {
  background-color: #fc4c02;
}
