@font-face {
  src: url(fonts/GothamBook.woff2) format("woff2"),
    url(fonts/GothamBook.woff) format("woff"),
    url(fonts/GothamBook.ttf) format("truetype");
  font-family: Gotham;
}

* {
  margin: 0;
  color: #fff;
}
html,
body {
  height: 100%;
  font-family: "Gotham";
}

h1 {
  font-size: 50px;
}

body {
  background-color: #f44336;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: colors 30s infinite linear;
}
@keyframes colors {
  0% {
    background-color: #f44336;
  }
  6% {
    background-color: #ff5722;
  }
  12% {
    background-color: #ff9800;
  }
  18% {
    background-color: #ffc107;
  }
  24% {
    background-color: #ffeb3b;
  }
  30% {
    background-color: #cddc39;
  }
  36% {
    background-color: #8bc34a;
  }
  42% {
    background-color: #4caf50;
  }
  48% {
    background-color: #009688;
  }
  54% {
    background-color: #00bcd4;
  }
  60% {
    background-color: #03a9f4;
  }
  66% {
    background-color: #2196f3;
  }
  72% {
    background-color: #3f51b5;
  }
  78% {
    background-color: #673ab7;
  }
  84% {
    background-color: #9c27b0;
  }
  90% {
    background-color: #e91e63;
  }
  100% {
    background-color: #f44336;
  }
}

.link {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #000;
}

.link:hover {
  color: #000;
  transition: 0.25s;
  text-decoration: underline;
  text-decoration-color: #000;
}
