
@font-face{
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
    background-color: white;
    color: #0070C9;
    font-family: "San Francisco", Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

.share a {
    background: #0070C9;
    border: 2px solid #0070C9;
    border-radius: 6px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
}

.share a:hover {
    background: #0279D0;
    border: 2px solid #0279D0;
    border-radius: 6px;
    padding: 3px;
    text-decoration: none;
}

h1 {
    border: 2px solid #0070C9;
    border-radius: 7px;
    color: white;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    background-color: #0070C9;
}