/*
This theme has been slightly modified by Leo Babauta's mnmlist.com theme.
It is uncopyrighted–just like the original.
Uncopyright: https://mnmlist.com/uncopyright
*/

body {
  background: #fff;
  font-family: Helvetica-neue, Helvetica, sans-serif;
  max-width: 30em;
  overflow: hidden;
  margin: auto;
}

p {
  line-height: 1.3em;
  margin: 12px 0;
  padding: 0px 10px 0px;
}

h1 {
  padding: 0px 10px 0px;
}

a {
  color: #303030;
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: #333;
}

a:hover {
  background: #f4f4f4;
}

.done {
  text-decoration: line-through;
}

footer {
  text-align: center;
}
