@font-face {
  font-family: 'Crimson Pro';
  src: url('CrimsonPro.ttf');
}

body {
  background: #fff;
  font-family: "Crimson Pro", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  max-width: 35em;
  margin: auto;
  padding: 0px 10px 0px;
}

p, ul, li {
  font-size: large;
  line-height: 110%;
}

h1, h2, h3, h4, h5, h6{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a {
  color: #0a84ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #af52de;
}

.done {
  text-decoration: line-through;
}

footer {
  text-align: center;
}

img {
  max-width: 250px;
  border-radius: 4%;
}

summary {
  outline: none;
}

summary {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}