<footer>
    <hr>
    <small>Made with ♡ for the open web.</small>
    <br>
    <small>Found a mistake? Submit a <a href="https://github.com/JonathanBuchh/jonathanbuchh.github.io/edit/main/{{ page.path }}">pull request</a>!</small>
    <br>
    <small>This content of this website is published with a <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA license</a> and the <a href="https://github.com/JonathanBuchh/jonathanbuchh.github.io">source code</a> has an <a href="https://github.com/JonathanBuchh/jonathanbuchh.github.io/blob/main/LICENSE">MIT License</a>.</small>
</footer>
