<footer>
    {% if page.title != "Email" %}
    <label for="email">Subscribe to <a href="/email">hear from me</a> when I publish new work.</label>
    {% endif %}
    <form action="https://buttondown.email/api/emails/embed-subscribe/JonathanBuchh" method="post" target="_self" onsubmit="window.open('https://buttondown.email/JonathanBuchh')">
	<input type="email" name="email" id="email" placeholder="Your email, please"/>
	<button type="submit">Subscribe</button>
    </form>
    Copyright &copy; {{ site.time | date: '%Y' }} <a href="https://twitter.com/JonathanBuchh">@JonathanBuchh</a>
</footer>
