<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.title != "Jonathan Buchholz" %}
<title>{{ page.title }} / {{ site.title }}</title>
<meta content="{{ page.title }} / {{ site.title }}" name=og:title>
<meta content="{{ page.title }} / {{ site.title }}" name=twitter:title>
{% else %}
<title>{{ site.title }}</title>
<meta content="{{ site.title }}" name="og:title">
<meta content="{{ site.title }}" name="twitter:title">
{% endif %}
<link rel="shortcut icon" href="/favicon.ico">
{% if page.description %}
<meta content="{{ page.description }}" name="description">
<meta content="{{ page.description }}" name="twitter:description">
{% else %}
<meta content="{{ site.description }}" name="description">
<meta content="{{ site.description }}" name="twitter:description">
{% endif %}
<meta content="jonathanbuchh.org" name="twitter:domain">
<meta content="Jonathan Buchholz" name="author">
<meta content="Jonathan Buchholz" name="og:author">
<meta content="@JonathanBuchh" name="twitter:creator">
{% if page.image %}
<meta content="/{{ image }}" name="og:image">
<meta content="/{{ image }}" name="twitter:image">
<meta content="summary_large_image" name="twitter:card">
<script type="application/ld+json">{"@context": "http://schema.org","@type": "CreativeWork","image": "https://jonathanbuchh.org/{{ image}}","author": "Jonathan Buchholz"}</script>
{% else %}
<meta content="/assets/portrait.jpg" name="og:image">
<meta content="/assets/portrait.jpg" name="twitter:image">
<meta content="summary" name="twitter:card">
<script type="application/ld+json">{"@context": "http://schema.org","@type": "CreativeWork","image": "https://jonathanbuchh.org/assets/portrait.jpg","author": "Jonathan Buchholz"}</script>
{% endif %}
<link href=https://jonathanbuchh.org/feed.xml rel=alternate type=application/rss+xml title="Jonathan Buchholz">
