<style>
body {
  background-color:#fff;
  color:#000;
  font-family:-apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  max-width: 650px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  line-height: 1.6;
}

nav h1 {
  margin:0
}

a {
  color:#000
}

a:visited {
  color:#000
}

blockquote {
  font-style:italic
}

img {
  max-width:100%;
  height:auto
}

footer {
  text-align: center;
  margin-bottom: 2em;
}

@media screen and (max-width: 440px){
	nav h1{
		font-size:2em
	}
}

@media screen and (min-width: 440px){
  nav h1 {
    font-size:3em
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color:#000;
    color:#fff
  }

  a {
    color:#fff
  }

	a:visited {
		color:#fff
	}
}
</style>
