<style>
:root {
  --sans-font: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, Helvetica Neue, Ubuntu, Roboto, Noto, Arial, sans-serif;
  --serif-font: "New York", "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --mono-font: JetBrains Mono, San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  --text: #000;
  --background: #fff;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--sans-font);
  width: clamp(45ch, 50%, 75ch);
  margin: auto;
  line-height: 1.6;
}

a {
  color: var(--text);
}

blockquote {
  font-style: italic;
}

footer {
  text-align: center;
  margin-bottom: 2em;
}

form input, form button {
  font-size: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --text: #fff;
  }

}
</style>
