body{
  line-height:1.6;
  max-width:40em;
  margin:0 auto;
  font-family:-apple-system, BlinkMacSystemFont, Helvetica, sans-serif
}

h1,h2,h3{
  line-height:1em
}

h1{
  font-size:2em
}

nav h1 {
  margin-top:10px
}

a {
  color:#000
}

a:visited {
  color:#000
}

@media screen and (max-width: 440px){
  nav h1{
    font-size:2em
  }
}

@media screen and (min-width: 440px){
  nav h1{
    font-size:3em
  }
}

@media(prefers-color-scheme:dark){
  body{
    background:#000;
    color:#fff
  }
  a{
    color:#fff
  }
  a:visited{
    color:#fff
  }
}
