{{ partial "head.html" . }}
<body>
  {{ partial "nav.html" . }}
  <main>
    <h1>{{ $.Title }}</h1>
      <p>Books listed here do not necessarily reflect my personal views</p>
      <div class="books">
	<div class="label"><strong>Title</strong></div>
        <div class="label"><strong>Author</strong></div>
        <div class="label"><strong>Date Read</strong></div>
        {{ range where .Site.RegularPages "Section" "reading" }}
          {{ if .Content }}
          <div class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
          {{ else }}
          <div style="font-weight: 500" class="title">{{ .Title }}</div>
          {{ end }}
	  {{ if .Params.author }}
	    {{ if .Params.all_authors }}
	    <div class="author"><span title="{{ .Params.all_authors }}">{{ .Params.Author }}</span></div>
	    {{ else }}
            <div class="author">{{ .Params.Author }}</div>
	    {{ end }}
	    {{ else }}
            <div></div>
	  {{ end }}
        <time class="iso-8601">{{ .Date.Format "2006-01-02" }}</time>
        <time class="natural-language">{{.Date.Format "January 2, 2006"}}</time>
        {{ end }}
      </div>
      <hr>
      <p>The reason it seems like I finished reading an unreasonable number of books on the last day of 2018, 2019, 2020, and 2021 is because I wasn't always so diligent about logging my reading. I tried to place books in the right year when I wasn't confident about which date I finished them :)</p>
      <hr>
      {{ partial "footer.html" . }}
  </main>
</body>
</html>
