{{ partial "head.html" . }}
<body>
  {{ partial "nav.html" . }}
  <main>
    <h1>{{ $.Title }}</h1>
      <div class="books">
        {{ range where .Site.RegularPages "Section" "reading" }}
        <div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        <div>{{ .Params.Author }}</div>
        <time>{{ .Date.Format "2006-01-02" }}</time>
        {{ end }}
      </div>
      <hr>
      <p>The reason it appears I finished reading an unreasonable number of books on the last day of 2018, 2019, and 2020 is because I didn't start tracking my reading until mid-2020. I only knew the years in which I read said books, so I gave them a date by which I could pretty confidently say they were read :)</p>
      <hr>
      {{ partial "footer.html" . }}
  </main>
</body>
</html>
