{{ partial "head.html" . }}
<body>
  {{ partial "nav.html" . }}
  <main>
    <h1>{{ $.Title }}</h1>
      <div class="books">
        {{ range where .Site.RegularPages "Section" "reading" }}
        {{ if .Content }}
        <div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        {{ else }}
        <div style="font-weight: 500">{{ .Title }}</div>
        {{ end }}
        <div>{{ .Params.Author }}</div>
        <time>{{ .Date.Format "2006-01-02" }}</time>
        <div>
          <div class="star" style="width: {{mul 13 .Params.Rating }}px"></div>
        </div>
        {{ end }}
      </div>
      <hr>
      <p>The reason it appears I read an unreasonable number of books on the last day of 2018, 2019, and 2020 is because I didn't start closely tracking my reading until mid-2020. I only knew the years in which I read said books, so I gave them a date by which I could guarantee they were read.&nbsp;</p>
      <hr>
      {{ partial "footer.html" . }}
  </main>
</body>
</html>
