{{ partial "head.html" . }}
<body>
    {{ partial "nav.html" . }}
    <main>
    <h1>{{ $.Title }}</h1>
    {{ if eq .Title "Writing" }}
    <div class="writing">
    {{ range where .Site.RegularPages "Section" "posts" }}
    <p style="margin-bottom: 0">{{.Date.Format "January 2, 2006"}}</p>
    <p style="margin-top: 0"><a href="{{.RelPermalink}}">{{.Title}}</a>: {{ .Description }}</p>
    {{ end }}
    {{ end }}
    </div>
    {{ if eq .Title "About" }}
    <small><time datetime="{{ .Page.Lastmod.Format "Mon Jan 10 17:13:38 2020 -0700" }}">This page was last updated on <strong>{{ $.Page.Lastmod.Format "January 02, 2006" }}</strong></time></small>
    {{ end }}
    {{.Content}}
    <hr>
    {{ partial "footer.html" . }}
    </main>
</body>
</html>
