<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{$.Title}} ✱{{ if not .IsHome}} Jonathan Buchholz{{ end }}</title>
    <meta name=description content="{{$.Description}}">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" type="image/svg+xml" href="✱">
    <link rel=alternate type=application/rss+xml title="Jonathan Buchholz" href="/rss.xml">
    {{ partial "style.html" . }}
</head>
