{{ partial "head.html" . }}
<body>
  {{ partial "nav.html" . }}
  <main>
      <h1>Jonathan Buchholz</h1>
      <p>Welcome! I like keeping this website alive because it motivates me to read. The last five books I've read are:</p>
      <ul>
        {{ range first 5 (where .Site.RegularPages "Section" "reading")}}
          {{ if .Content }}
	  <li><div class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div></li>
          {{ else }}
	  <li><div style="font-weight: 500" class="title">{{ .Title }}</div></li>
          {{ end }}
        {{ end }}
      </ul>
      <p>For a more complete list, see my <a href="/reading">reading page</a>.<p/>
      <hr>
      {{ partial "footer.html" . }}
  </main>
</body>
</html>
