---
layout: compress
---
<!DOCTYPE html>
<html lang=en dir=ltr>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% if page.title != "Jonathan Buchholz" %}
    <title>{{ page.title }} / {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    {% if page.description %}
    <meta name=description content="{{ page.description }}">
    {% else %}
    <meta name=description content="{{ site.description }}">
    {% endif %}
    <link rel=alternate type=application/rss+xml title="Jonathan Buchholz" href="{{ site.url }}/feed.xml">
    <link rel=stylesheet type=text/css href=/style.css>
</head>
<body>
    {% if page.title != "Jonathan Buchholz" %}
    <nav><h1><a href=/ title="Jonathan Buchholz">Jonathan Buchholz</a></h1></nav>
    <h1>{{ page.title }}</h1>
    {% if page.cover %}
    <img src="{{ page.cover }}" alt="{{ page.title }}" class=cover>
    {% endif %}
    {% else %}
    <nav><h1>Jonathan Buchholz</h1></nav>
    {% endif %}
    {% if page.author %}
    <h2>by {{ page.author}}</h2>
    {% endif %}
    {% if page.rating %}
    <p>I last read this on {{ page.date | date: "%B %-d, %Y"}} and I recommend it <b>{{ page.rating }}</b>/10.</p>
    {% else %}
    <p>{{ page.date | date: "%B %-d, %Y"}}</p>
    {% endif %}
    <p>{{ page.review }}</p>
    {{ content }}
</body>
</html>
